@font-face {
  font-family: Roboto;
  src: local(Roboto Light), url(../font/roboto/Roboto-Light.eot);
  src: url(../font/roboto/Roboto-Light.eot?#iefix) format("embedded-opentype"),
    url(../font/roboto/Roboto-Light.woff2) format("woff2"),
    url(../font/roboto/Roboto-Light.woff) format("woff"),
    url(../font/roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto Regular), url(../font/roboto/Roboto-Regular.eot);
  src: url(../font/roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
    url(../font/roboto/Roboto-Regular.woff2) format("woff2"),
    url(../font/roboto/Roboto-Regular.woff) format("woff"),
    url(../font/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Medium.eot);
  src: url(../font/roboto/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
    url(../font/roboto/Roboto-Medium.woff2) format("woff2"),
    url(../font/roboto/Roboto-Medium.woff) format("woff"),
    url(../font/roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../font/roboto/Roboto-Bold.eot);
  src: url(../font/roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype"),
    url(../font/roboto/Roboto-Bold.woff2) format("woff2"),
    url(../font/roboto/Roboto-Bold.woff) format("woff"),
    url(../font/roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

footer li {
  margin-bottom: 0.9rem;
}
.md-form textarea.md-textarea + label {
  top: 0rem;
}

.md-pills .nav-link.active {
  color: white;
  border-radius: 2rem;
}
.material-tabs {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: -20px;
  padding: 0.6rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  background-color: #0277bd;
  z-index: 1;
  position: relative;
}
.material-tabs li {
  border-radius: 0.25rem;
  width: 50%;
}
.nav-tabs .nav-link {
  border: none;
  color: white;
}
.nav-tabs .nav-link.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  /* border-color: #e9ecef #e9ecef #dee2e6; */
  border: none;
}
.material-tabs li a {
  text-align: center;
}
.tab-content {
  border-radius: 0.25rem;
}

.btn-rounded {
  border-radius: 2rem;
}

.testimonial .avatar img {
  width: 150px;
  height: 150px;
}

/* ****************************************************************
  Light Nav Bar 
  ******************************************************************
 */
nav .avatar img {
  width: 35px;
  height: 35px;
}
nav a {
  font-size: 15px;
  color: black;
}
nav a:hover {
  color: black;
}
nav .avatar .dropdown-toggle::after {
  border: none;
}
.navbar p {
  margin-bottom: 0;
  margin-left: 10px;
}
.navbar .button-collapse {
  font-size: 20px;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}
.navbar .dropdown-menu a:hover{
  background-color: #4285F4;
  border-radius: .2rem;
  color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),  0 2px 10px 0 rgba(0,0,0,.12);
}
/*
**************************************************************************** 
 */


/* 
****************************************************************************
The side navigation menu 
Material Design side Nav
****************************************************************************
*/
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1040; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* white*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 60px; Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/* The navigation menu links */
.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  color: #2b2b2b;
  display: block;
  transition: 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: .85rem;
  font-weight: 400;
  padding-left: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sidenav-fixed {
  width: 240px;
}

.sidenav.sidenav-fixed {
  left: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  position: fixed;
}

.fixed-sn .double-nav,
.fixed-sn footer,
.fixed-sn main {
  padding-left: 15rem;
}

@media only screen and (max-width: 1440px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  .fixed-sn .double-nav,
  .fixed-sn footer,
  .fixed-sn main {
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .double-nav .button-collapse {
    display: none;
  }
}
@media (max-width: 1440px) {
  .double-nav .button-collapse {
    display: block;
    position: relative;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.sidenav .brand-logo {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  text-align: center;
  padding-top: 8%;
  padding-bottom:8%;
}
.sidenav .brand-logo img {
  max-width: 140px;
}

@media (max-height: 640px) {
  .sidenav .brand-logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.sidenav .social-icon {
  list-style: none;
  margin: auto;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.sidenav i{
  font-size: .85rem;
  /* padding: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.sidenav .social-icon a{
  color: #2b2b2b;
}
.sidenav .social-icon a:hover{
  color: #0277bd;
}

  .sidenav .fa-angle-down.rotate-icon{
  position: absolute;
  right: 0;
  top: .8rem;
  }

.collapsible li .collapsible-header.active {
    color: #4285F4;
}
.collapsible li .collapsible-header.active i{
  color: initial;
}
.sidenav li .collapsible{
  padding: 0;
}

.sidenav .collapsible ul{
  overflow-y: hidden;
  background-color: #d6d6d6;
  padding-left: 2.5rem;
}
.sidenav .collapsible ul li a:hover{
  color: #4285F4;
}

.sidenav li input{
  border: none;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 22px;
  padding-left: 25px;
  border-radius: none;
}
.sidenav li input:focus{
  box-shadow: none;
  border-radius: none;
  border-bottom: 1px solid #4285F4;
}

/*
******************************************************** 
sidenav css end 
*********************************************************
 */